#contact_info{
	padding-right:1em;
	padding-left:1em;
}

#feedback{
	padding-right:1em;
	padding-left:1em;
	text-align:left;
}

.form_label{
	display:inline;
	min-width:7.5em;
	float:left;
	padding:.5em;
}

#form-comments{
	min-width:100%;
	max-width:100%;
	min-height:5em;
	padding:.5em;
}

input{
	padding:.5em;
	display:inline;
	width:30%;
	min-width:12em;
}

label{
	display:inline;
}

form{
	display:block;
	margin-bottom:1em;
}

form strong{
	width:20%;
}

.yellow_button{
	float:right;
	clear:both;
	margin-bottom:1em;
}

#submitted{
	display:none;
	box-shadow:inset 0px 0px 7px #1D1D1D;
	background: -webkit-gradient(linear, left top, left bottom, from(#1D863F), to(#004D12));
	background: -webkit-linear-gradient(top, #1D863F, #004D12);
	background: -moz-linear-gradient(top, #1D863F, #004D12);
	background: -ms-linear-gradient(top, #1D863F, #004D12);
	background: -o-linear-gradient(top, #1D863F, #004D12);
	background-color:#1D863F;
}

@media (max-width:960px) {
	.col-1of3{
		width:100%;
	}
	.col-2of3{
		width:100%;
	}
}

@media (max-width:570px) {
	.yellow_button{
		width:100%;
	}
}