/* grids.css; defining grids for my site */

[class*='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}
 
.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1of2 {
	width: 50%;
}

.col-1of4{
	width: 25%;
}

.col-1of3 {
	width: 33.333%;
	text-align: left;
}



@media (max-width:700px) {
	.col-1of4{
		width:50%;
	}
	.nav_link {
		border-bottom:1px solid black;
	}
}

@media (max-width:570px) {
	.logo img{
		width:100%;
	}
}

@media (max-width:540px) {
	.col-1of4{
		width:100%;
	}
}