/* grids.css; defining grids for my site */

[class*='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}
 
.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1of1{
	width:100%;
}

.col-1of1 img{
	width:100%;
}

.col-1of2 {
	width: 50%;
	text-align: left;
}

.col-1of4{
	width: 25%;
}

.col-1of3 {
	width: 33.333%;
	text-align: left;
}

.col-2of3 {
	width: 66.666%;
}
.col-1of12{
	width: 12.5%;
}

@media (max-width:1335px) {
	.container_header .col-1of2{
		width:40%;
	}
	.logo img{
		width:100%;
	}
	.col-1of12{
		width:15%;
	}

}

@media (max-width:1115px) {
	.container_header .col-1of2{
		width:30%;
	}
	.logo img{
		width:100%;
	}
	.col-1of12{
		width:17.5%;
	}
}

@media (max-width:960px) {
	.container_header .col-1of2{
		width:100%;
		text-align:center;
	}
	.logo img{
		width:50%;
	}
	
	header nav {
		width:100%;
		display:block;
		position:inherit;
	}
	.col-1of3{
		width:100%;
	}
	footer input{
		max-width:12em;
		margin-right:2em;
	}
	.col-1of12{
		width:25%;
	}
}

@media (max-width:700px) {
	.col-1of2{
		width:100%;
	}
	
	.col-1of4{
		width:50%;
	}
}

@media (max-width:675px){
	.col-1of12{
		width:100%;
	}
	.nav_link{
		border-left:none;
	}
}

@media (max-width:570px) {
	.logo img{
		width:100%;
	}
}

@media (max-width:540px) {
	.col-1of4{
		width:100%;
	}
}