body{
	padding: 0px;
	background-image:url(../images/squared_metal.png);
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	min-height:100%;
	position:absolute;
}

header{
	width:auto;
	clear:both;
}

.header_background{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: auto;
	background-image:url(../images/stars.jpg);
	border-bottom:solid 5px gray;
}

.footer_background{
	background-image:url(../images/stardust.png);
	background-repeat: repeat;
	border-top:solid 5px #303030;
	position:absolute;
	width:100%;
}

h1 {
	font-family: 'aeroregular', Verdana, sans-serif;
	font-size: 45px; 
	color: black;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em; 
	color: black;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
}

p, ul, ol {
	font-family: 'Lato', sans-serif;
}

a:focus{ 
	outline: none !important; 
}

/* Container: for all the page content to fit within */
.container_all{
	min-height:100%;
	position:relative;
}

.container_header{
	width: 60%;
	margin: 0 auto;
	position: relative;
}

.container_content{
	width: 60%;
	margin: 0 auto;
	position: relative;
	padding:1em;
}

.content > h2{
	padding-bottom:.5em;
	border-bottom:dashed 1px black;
}

.container_footer{
	width: 60%;
	margin: 0 auto;
	padding:.5em;
	padding-left:1em;
	padding-top:0px;
	color:white;
}

.container_navigation{
	width:20%;
	display:inline;
}

header nav{
	width:60%;
	display:inline;
	float:right;

}
nav{
	position:absolute;
	bottom:0;
}


nav a{
	width:100%;
}

nav a, nav a:visited {
	color:white;
	display: inline-block;
	padding: 1em .25em;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	text-shadow: 2px 2px black;
}
.main_nav{
	border-radius: 5px 5px 0 0;
	display:inline-block;
	width: 100%;
	border-bottom: 2px solid #0f0f0f;
}

.main_nav a {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 49px;
}

/* Old colours:
	linear-gradient(to bottom, #395850 5%, #3B3B3B 100%);
	
	orange hover:
	color: #FFD159;
*/

.nav_link_home{
	color:white;
	float: left;
	width:100%;
	cursor:pointer;
	background-color:none;
	transition:background-color 0.5s;
	transition:background-color 0.5s ease;
}

.nav_link {
	color:white;
	float: left;
	width:100%;
	cursor:pointer;
	border-left:1px solid rgb(50,50,50);
	background-color:none;
	border-bottom: solid 5px #gray;
	transition:background-color 0.5s ease;
}

.nav_link:hover{
	background-color:#363636;
	border-bottom: solid 5px #BE1622;
	margin-bottom:-5px;
}

.nav_link_home:hover{
	background-color:#363636;
	border-bottom: solid 5px #BE1622;
	margin-bottom:-5px;
}

.nav_link:active{
	
}

.nav_link_home:active{
	border-bottom: solid 5px #BE1622;
}

footer h3, footer a{
	color:white;
	margin-top:25px;

}

footer p{
	margin-top:-10px;
}

footer ul{
	margin-top:-5px;
}

footer input{
	margin-top:5px;
	margin-bottom:20px;
	width:90%;
}
footer a, footer p, footer li{
	font-family: 'Lato', sans-serif;
	margin-bottom:6px;
	line-height:1em;
	list-style-type:square;
}

.subscribe_btn{
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	border:1px solid #241d13;
	height:25px;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
}

.widget_1{
	height:150px;
	margin-right:30px;
	border-right: dashed thin #929292;
}

.widget_2{
	height:150px;
	margin-right:30px;
	border-right: dashed thin #929292;
}

.logo{
	height:auto;
	display:inline;
}

.logo img{
	width:100%;
	max-width:22em;
	padding-right:.5em;
}

.container_header > .grid > .col-1of2{/*the specific container for the logo and img*/
	width:40%;	
}

/*
.content img{
	width:100%;
	padding-right:10px;
}
*/

.item_description > img{
	float:left;
	width:50%;
	padding-right:10px;
	padding-bottom:10px;
	height:280px;
}

.item_description h2{
	color:rgb(182, 56, 56);
	font-size:2em;
}

.item_description h2 img{
	width:1em;
	height:1em;
}

.item_specs{
	width:100%;
	background-color:rgb(224, 224, 224);
	border: solid 1px black;
	margin-bottom:10px;
	margin-top:10px;
	padding:10px;
}

.payment_forms {

}

.payment_forms select{
	display:inline;
	width: 190px;
	font-size: .9em;
	float: right;
	margin-top:5px;
}

.payment_forms input{
	display:inline;
	width: 190px;
	font-size: .9em;
	float: right;
	margin-top:5px;
}

.payment_input{
	line-height:2em;
	padding:.3em;
}
.content p{
	text-align:left;
	margin-top:0px;
}

.item_description{
	display:block;
	padding:1em;
	
}

.item_description img{
	float:left;
	width:40%;
	padding-right:10px;
	height:280px;
}

.item_description h2 {
	font-size:2em;
	display:inline-block;
	color:rgb(182, 48, 48);
	margin-bottom:.5em;
	margin-top:.5em;
}


.add_to_cart{
	border: 1px solid #868686;
	background: #a67012;
	background: -webkit-gradient(linear, left top, left bottom, from(#dbb90f), to(#a67012));
	background: -webkit-linear-gradient(top, #dbb90f, #a67012);
	background: -moz-linear-gradient(top, #dbb90f, #a67012);
	background: -ms-linear-gradient(top, #dbb90f, #a67012);
	background: -o-linear-gradient(top, #dbb90f, #a67012);
	padding: .2em .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:inset 0px 0px 0px #1D1D1D;
	text-shadow: rgba(0,0,0,1) 1px 1px 0;
	color: white;
	font-size: 1.2em;
	font-family: roboto;
	text-decoration: none;
	text-align:center;
	width:6em;
	cursor:pointer;
	transition: box-shadow .3s ease;
	display:block;
	width:8em;
}

.add_to_cart:hover{
	box-shadow:inset 0px 0px 7px #1D1D1D;
}

.detailed_info{
	border: 1px solid #868686;
	background: #1253A6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0FB2DB), to(#1253A6));
	background: -webkit-linear-gradient(top, #0FB2DB, #1253A6);
	background: -moz-linear-gradient(top, #0FB2DB, #1253A6);
	background: -ms-linear-gradient(top, #0FB2DB, #1253A6);
	background: -o-linear-gradient(top, #0FB2DB, #1253A6);
	padding: .2em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:inset 0px 0px 0px #1D1D1D;
	text-shadow: rgba(0,0,0,1) 1px 1px 0;
	color: white;
	font-size: 1.2em;
	font-family: roboto;
	text-decoration: none;
	text-align:center;
	width:auto	;
	float:left;
	cursor:pointer;
	transition: box-shadow .3s ease;
	margin-bottom:1em;
	clear:both;
}

.detailed_info:hover{
	box-shadow:inset 0px 0px 7px #1D1D1D;
}

.input_type{
	font-family: times, Verdana, sans-serif;
	text-align:right;
	margin-bottom: 1.3em;
	padding-right: 1em;
}

.payment_input select{
	display:block;
	margin-bottom:1em;
}

.payment_input input{
	display:block;
	margin-bottom:1em;
}

.product_listing{
	width:100%;
	padding:1em;
	padding-bottom:0;
	border-bottom:dashed 1px gray;
	display:inline-block;
}

.product_img{
	background-color:rgba(175, 175, 175, 0.5);
	
}

.product_img:hover{
	background-color:rgba(125, 125, 125, 0.5);
}

.product_img img{
	width:100%;
}

.product_name {
	position:absolute;
	display:block;
	line-height:1em;
}

.product_name > h2{
	font-size:1.5em;
}

.product_name a, .product_name a:visited{
	color:#000000;
	transition:color .2s ease;
}

.product_name a:hover{
	color:#5F5F5F;
}

.product_price{
	float:right;
	display:inline;
	line-height:1em;
}

.product_price h3{
	color:rgb(182, 48, 48);
}
.product_price > h3 > img{
	background-color:transparent;
	width:1.3em;
	padding-right:5px;
}

.product_features{
	clear:both;
	width:100%;
	display:block;
	position:relative;
	line-height:.5em;
	font-size:.8em;
}

.product_features p{
	clear:both;
}

/* OLD FONT STUFF
@font-face {
    font-family: 'latoregular';
    src: url('lato-reg.eot');
    src: url('lato-reg.eot?#iefix') format('embedded-opentype'),
         url('lato-reg.woff') format('woff'),
         url('lato-reg.ttf') format('truetype'),
         url('lato-reg.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_old_republicregular';
    src: url('sf_old_republic-webfont.eot');
    src: url('sf_old_republic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf_old_republic-webfont.woff') format('woff'),
         url('sf_old_republic-webfont.ttf') format('truetype'),
         url('sf_old_republic-webfont.svg#sf_old_republicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aeroregular';
    src: url('aero-webfont.eot');
    src: url('aero-webfont.eot?#iefix') format('embedded-opentype'),
         url('aero-webfont.woff') format('woff'),
         url('aero-webfont.ttf') format('truetype'),
         url('aero-webfont.svg#aeroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
