body{
	padding: 0px;
	background-image:url(../images/squared_metal.png);
}

header{
	width:auto;
	clear:both;
}

.header_background1{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 193px;
	background:white;
}

h1 {
	font-family: 'aeroregular', Verdana, sans-serif;
	font-size: 45px; 
	color: black;
}

h2 {
	font-family: 'Roboto', sans-serif;sans-serif;
	font-size: 25px; 
	color: black;
}

h3 {
	font-family: 'Roboto', sans-serif;sans-serif;
	font-size: 20px; 
	color: black;
}

p, ul, ol {
	font-family: 'Lato', sans-serif;
}

/* Container: for all the page content to fit within */
.container_header{
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.container_content{
	width: 70%;
	margin: 0 auto;
	position: relative;
	padding:1em;
}

.container_footer{
	width: 70%;
	margin: 0 auto;
	position: relative;
	background-image:url(../images/stardust.png);
	height:200px;
	padding:10px;
	padding-left:20px;
	color:white;
	border-top:thick solid #303030;
}

nav a{
	width:100%;
}

nav a, nav a:visited {
	display: inline-block;
	background: #fefefe;
	padding: 1em .25em;
	text-decoration: none;
	font-family: 'sf_old_republicregular', Verdana, Arial, sans-serif;
	font-size: 1em;
	text-shadow: 2px 2px black;
}
.main_nav{
	border-radius: 5px 5px 0 0;
	display:inline-block;
	width: 100%;
	border-bottom: 2px solid #0f0f0f;
}

.main_nav a {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 49px;
}

/* Old colours:
	linear-gradient(to bottom, #395850 5%, #3B3B3B 100%);
*/

.nav_link {
	float: left;
	width:100%;
	cursor:pointer;
	background:linear-gradient(to bottom, #B13030 5%, #631B1B 100%);
	box-shadow:inset 0px 3px 3px -3px #271B1B;
	transition: box-shadow .5s, color .5s;
	-webkit-transition: box-shadow .5s, color .5s;
	border-left:1px solid #640808;
}

.nav_link:hover{
	box-shadow:inset 0px 2px 5px 0px #271B1B;
	color: #FFD159
}

footer h3, a{
	color:white;
	border-top:thick solid #303030;
	margin-top:25px;

}

footer p{
	margin-top:-10px;
}

footer ul{
	margin-top:-5px;
}

footer input{
	margin-top:5px;
	margin-bottom:20px;
	width:90%;
}
footer a, footer p, footer li{
	font-family: 'Lato', sans-serif;
	margin-bottom:6px;
	line-height:1em;
	list-style-type:square;
}

.subscribe_btn{
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	border:1px solid #241d13;
	height:25px;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
}

.widget_1{
	height:150px;
	margin-right:30px;
	border-right: dashed thin #929292;
}

.widget_2{
	height:150px;
	margin-right:30px;
	border-right: dashed thin #929292;
}

/* Colour Palet: 
nav a.Fairview_Taupe {
	background-color: #7D7262;
}

nav a.pigeon_gray {
	background-color: #9999A1;
}

nav a.sea_foam {
	background-color: #E8F0ED;
}

nav a.iron_mountain {
	background-color: #585654;
}

nav a.white_ice {
	background-color: #EBEFEA;
}

*/

.logo{
	padding-bottom:5px;
}
.content img{
	width:100%;
	padding-right:10px;
}

<<<<<<< HEAD
.item_description > img{
	float:left;
	width:50%;
	padding-right:10px;
	padding-bottom:10px;
	height:280px;
}

.item_description h2{
	color:rgb(182, 56, 56);
	font-size:2em;
}

.item_description h2 img{
	width:1em;
}

.item_specs{
	width:100%;
	background-color:rgb(224, 224, 224);
	border: solid 1px black;
	margin-bottom:10px;
	margin-top:10px;
	padding:10px;
}

.payment_forms {

}

.payment_forms select{
	display:inline;
	width: 190px;
	font-size: .9em;
	float: right;
	margin-top:5px;
}

.payment_forms input{
	display:inline;
	width: 190px;
	font-size: .9em;
	float: right;
	margin-top:5px;
}

	

.payment_input{
	line-height:2em;
	padding:.3em;
=======
.content p{
	text-align:left;
	margin-top:0px;
}

.item_description{
	display:inline;
	
}

.item_description img{
	float:left;
	width:40%;
	padding-right:10px;
	height:280px;
}

.item_description h2 {
	font-size:2em;
	display:inline-block;
	color:rgb(182, 48, 48);
	margin-bottom:0.5em;
}
.item_description h2 > img{
	width:1.5em;
	height:1.5em;
}

.add_to_cart{
	background-color:orange;
	display: table;
	padding: 5px;
	padding-top: 5px;
	width: 9em;
	text-align: center;
	font-size: 1.2em;
}

.input_type{
	font-family: times, Verdana, sans-serif;
	text-align:right;
	margin-bottom: 1.3em;
	padding-right: 1em;
}

.payment_input select{
	display:block;
	margin-bottom:1em;
}

.payment_input input{
	display:block;
	margin-bottom:1em;
>>>>>>> refs/remotes/origin/makingFlexible
}

@font-face {
    font-family: 'latoregular';
    src: url('lato-reg.eot');
    src: url('lato-reg.eot?#iefix') format('embedded-opentype'),
         url('lato-reg.woff') format('woff'),
         url('lato-reg.ttf') format('truetype'),
         url('lato-reg.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_old_republicregular';
    src: url('sf_old_republic-webfont.eot');
    src: url('sf_old_republic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf_old_republic-webfont.woff') format('woff'),
         url('sf_old_republic-webfont.ttf') format('truetype'),
         url('sf_old_republic-webfont.svg#sf_old_republicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aeroregular';
    src: url('aero-webfont.eot');
    src: url('aero-webfont.eot?#iefix') format('embedded-opentype'),
         url('aero-webfont.woff') format('woff'),
         url('aero-webfont.ttf') format('truetype'),
         url('aero-webfont.svg#aeroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}